git+https://github.com/quantopian/pyfolio.git
git+https://github.com/xingetouzi/alphalens.git
git+https://github.com/xingetouzi/rqalpha.git
git+https://github.com/xingetouzi/rqalpha-mod-fxdayu-source.git
git+https://github.com/xingetouzi/rqalpha-mod-shipane-wrapper.git
git+https://github.com/xingetouzi/rqalpha-mod-optimization.git
git+http://gitlab.fxdayu.com:8888/xingetouzi/rqalpha-mod-trading-monitor.git
git+http://gitlab.fxdayu.com:8888/xingetouzi/rqalpha-mod-authority.git
jaqs_fxdayu>=0.1.6